{% extends '@ApbUser/layout.mjml.twig' %}

{% block body %}
    <mj-column width="100%" padding-top="25px" padding-bottom="5px">
        <mj-text css-class="title-message">
            {{ title | raw  }}
        </mj-text>

        <mj-text css-class="body-message">
            {{ message | raw  }}
        </mj-text>

        {% if button is defined and button != null %}
            <mj-text align="center" padding-top="25px">
                <a class="link-message" href="{{ url }}">{{ button }}</a>
            </mj-text>
        {% endif %}
    </mj-column>
{% endblock %}
